@font-face {
  font-family: 'San Francisco Pro';
  src: url("../fonts/SF-Pro-Display-Bold.woff") format("woff");
  font-weight: 700;
}

@font-face {
  font-family: 'San Francisco Pro';
  src: url("../fonts/SF-Pro-Display-Semibold.woff") format("woff");
  font-weight: 600;
}

@font-face {
  font-family: 'San Francisco Pro';
  src: url("../fonts/SF-Pro-Display-Medium.woff") format("woff");
  font-weight: 500;
}

@font-face {
  font-family: 'San Francisco Pro';
  src: url("../fonts/SF-Pro-Display-Regular.woff") format("woff");
  font-weight: 400;
}

@font-face {
  font-family: 'San Francisco Pro';
  src: url("../../fonts/SF-Pro-Display-Light.woff") format("woff");
  font-weight: 300;
}

.label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 80px;
  height: 30px;
  background-color: #FF6633;
  border-radius: 30px;
  color: #fff;
}

.label_pink {
  background: rgba(230, 46, 123, 0.1);
  color: #E62E7B;
}

.label span {
  font-family: 'San Francisco Pro';
  font-style: normal;
  font-weight: 800;
  font-size: 12px;
  line-height: 20px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.label_orange {
  background-color: rgba(255, 102, 51, 0.1);
  color: #FF6633;
}

.title h2 {
  font-family: 'San Francisco Pro';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 60px;
  color: #7D8FB3;
  text-align: center;
}

.title h2 span {
  font-family: 'San Francisco Pro';
  font-style: normal;
  font-weight: 800;
  font-size: 36px;
  line-height: 60px;
  color: #4D5E80;
}

@media screen and (max-width: 769px) {
  .title h2 {
    font-size: 34px;
  }
  .title h2 span {
    font-size: 34px;
  }
}

@media screen and (max-width: 426px) {
  .title h2 {
    font-size: 32px;
  }
  .title h2 span {
    font-size: 32px;
  }
}

@media screen and (max-width: 376px) {
  .title h2 {
    font-size: 30px;
  }
  .title h2 span {
    font-size: 30px;
  }
}

@media screen and (max-width: 312px) {
  .title h2 {
    font-size: 28px;
  }
  .title h2 span {
    font-size: 28px;
  }
}

.description {
  font-family: 'San Francisco Pro';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 30px;
  color: #7D8FB3;
  text-align: center;
  max-width: 630px;
}

.header {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}

.header__panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 63px;
}

.header__burger-btn {
  display: none;
  cursor: pointer;
  margin-top: 3px;
}

.header__burger-btn span {
  position: relative;
  display: inline-block;
  width: 18px;
  height: 2px;
  border-radius: 3px;
  background-color: #FFFFFF;
}

.header__burger-btn span::after, .header__burger-btn span::before {
  position: absolute;
  content: "";
  cursor: pointer;
  background-color: #FFFFFF;
  width: inherit;
  height: inherit;
  border-radius: 3px;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.header__burger-btn span::before {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.header__logo {
  font-family: 'San Francisco Pro';
  font-style: normal;
  font-weight: 900;
  font-size: 20px;
  line-height: normal;
  color: white;
  max-width: 110px;
}

.header__search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__search svg {
  max-width: 18px;
  margin: 0 30px 0 170px;
  opacity: 0.5;
}

.header__search svg:hover {
  cursor: pointer;
}

.header__search-text {
  font-family: 'San Francisco Pro';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: #FFFFFF;
  opacity: 0.5;
}

.header__search-text:hover {
  cursor: pointer;
}

.header__navigation {
  margin-left: 200px;
}

.header__navigation ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__navigation ul li {
  margin-right: 35px;
  font-family: 'San Francisco Pro';
  font-style: normal;
  font-weight: 900;
  font-size: 13px;
  line-height: 20px;
  color: #FFFFFF;
}

.header__get-in-touch {
  margin-left: auto;
  font-family: 'San Francisco Pro';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #FFFFFF;
  max-width: 80px;
}

@media screen and (max-width: 1441px) {
  .header__panel {
    padding-top: 48px;
  }
}

@media screen and (max-width: 1003px) {
  .header__search svg {
    margin: 0 20px 0 70px;
  }
}

@media screen and (max-width: 931px) {
  .header__search svg {
    margin: 0 20px 0 70px;
  }
  .header__navigation {
    margin-left: 90px;
  }
}

@media screen and (max-width: 769px) {
  .header__navigation {
    display: none;
  }
  .header__get-in-touch {
    display: none;
  }
  .header__burger-btn {
    margin-left: auto;
    display: block;
  }
}

@media screen and (max-width: 321px) {
  .header__panel {
    padding-top: 24px;
  }
}

@media screen and (max-width: 321px) and (max-height: 569px) {
  .header__panel {
    padding-top: 10px;
  }
}

.hero {
  background: url("../images/background.png") no-repeat;
  background-size: cover;
  height: 110vh;
  background-position: center -20vh;
}

.hero__content {
  position: relative;
  padding-top: 235px;
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
}

.hero__title {
  font-family: 'San Francisco Pro';
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 70px;
  margin-top: 65px;
  text-align: center;
  color: #FFFFFF;
}

.hero__title span {
  font-weight: 800;
}

.hero__socials {
  position: absolute;
  left: -9.5em;
  top: 20em;
}

.hero__socials ul li {
  cursor: pointer;
  margin-bottom: 37px;
}

.hero__form {
  margin-top: 60px;
}

.hero__form ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: start;
}

.hero__form ul li {
  border: 1px solid #ffffff5b;
  padding: 16px 20px;
}

.hero__form__description {
  display: inline-block;
  width: 65px;
  font-family: 'San Francisco Pro';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 20px;
  color: #FFFFFF;
  opacity: 0.6;
}

.hero__form__data {
  display: inline-block;
  margin-top: 10px;
  max-width: 85px;
  font-family: 'San Francisco Pro';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 20px;
  color: #FFFFFF;
}

.hero__form__search {
  font-family: 'San Francisco Pro';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  display: inline-block;
  margin-top: 9px;
  color: #FFFFFF;
  cursor: pointer;
}

.hero__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 80px;
}

.hero__info span {
  display: inline-block;
  max-width: 173px;
  text-align: start;
  margin-left: 40px;
  font-family: 'San Francisco Pro';
  font-style: normal;
  font-weight: 800;
  font-size: 14px;
  line-height: 30px;
  color: #FFFFFF;
}

.hero__info svg {
  margin-bottom: 24px;
}

.hero__info-addres {
  max-width: 270px;
  margin-right: 65px;
}

.hero__info-time {
  max-width: 270px;
  margin-right: 86px;
}

.hero__info-phone {
  max-width: 270px;
}

.hero__slider__items-dest {
  position: absolute;
  right: -15em;
  top: 27em;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.hero__slider__items-dest span {
  display: inline-block;
  max-width: 200px;
  font-family: 'San Francisco Pro';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 30px;
  color: #FFFFFF;
}

.hero__slider__items-dest svg {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  margin-right: 28px;
}

.hero__slider__items-arrows {
  cursor: pointer;
}

.hero__slider__items-arrows .next {
  position: absolute;
  right: -19.5%;
  top: 25%;
}

.hero__slider__items-arrows .prev {
  position: absolute;
  right: -19.5%;
  bottom: 23%;
}

.hero__scroll-btn {
  margin-top: 10vh;
}

.hero__scroll-btn button {
  font-family: 'San Francisco Pro';
  font-style: normal;
  font-weight: 800;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  color: #7D8FB3;
  padding: 10px 25px;
  background: #FFFFFF;
  border: none;
  -webkit-box-shadow: 0px 10px 30px rgba(54, 61, 77, 0.05);
          box-shadow: 0px 10px 30px rgba(54, 61, 77, 0.05);
  border-radius: 30px;
  outline: none;
  cursor: pointer;
}

@media screen and (max-width: 2561px) {
  .header {
    -webkit-transform: scale(1.4);
            transform: scale(1.4);
  }
  .hero__content {
    padding-top: 330px;
    -webkit-transform: scale(1.4);
            transform: scale(1.4);
  }
  .hero__socials {
    top: 33vh;
  }
  .hero__slider__items-arrows .prev {
    bottom: 17vh;
  }
  .hero__slider__items-arrows .next {
    top: 27vh;
  }
  .hero__slider__items-dest {
    top: 42vh;
  }
  .hero__scroll-btn {
    margin-top: 11vh;
  }
}

@media screen and (max-width: 1921px) {
  .header {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  .hero__content {
    padding-top: 235px;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  .hero__socials {
    top: 33vh;
  }
  .hero__slider__items-arrows .prev {
    bottom: 18vh;
  }
  .hero__slider__items-arrows .next {
    top: 22vh;
  }
  .hero__slider__items-dest {
    top: 40vh;
  }
  .hero__scroll-btn {
    margin-top: 11.2vh;
  }
}

@media screen and (max-width: 1601px) {
  .hero__content {
    padding-top: 200px;
  }
  .hero__title {
    font-size: 40px;
    line-height: 55px;
  }
  .hero__form {
    margin-top: 50px;
  }
  .hero__info {
    margin-top: 60px;
  }
  .hero__info span {
    font-size: 14px;
    margin-left: 16px;
    max-width: 175px;
  }
  .hero__info div {
    margin-right: 50px;
  }
  .hero__scroll-btn {
    margin-top: 13.8vh;
  }
}

@media screen and (max-width: 1441px) {
  .hero__content {
    padding-top: 183px;
    max-width: 615px;
  }
  .hero__title {
    margin-top: 46px;
    font-size: 37px;
    line-height: 50px;
  }
  .hero__form {
    margin-top: 42px;
  }
  .hero__form ul li {
    padding: 10px 7px;
  }
  .hero__info {
    margin-top: 57px;
  }
  .hero__info span {
    font-size: 12px;
    margin-left: 16px;
    max-width: 125px;
  }
  .hero__info div {
    margin-right: 40px;
  }
  .hero__socials {
    top: 14em;
    left: -17vw;
  }
  .hero__slider__items-dest {
    top: 42vh;
    right: -23vw;
  }
  .hero__slider__items-arrows .next {
    top: 22vh;
    right: -17.2vw;
  }
  .hero__slider__items-arrows .prev {
    right: -17.2vw;
    bottom: 22vh;
  }
  .hero__scroll-btn {
    margin-top: 20vh;
  }
}

@media screen and (max-width: 1367px) {
  .hero__content {
    padding-top: 167px;
    max-width: 600px;
  }
  .hero__title {
    margin-top: 46px;
    font-size: 34px;
    line-height: 50px;
  }
  .hero__form {
    margin-top: 42px;
  }
  .hero__form ul li {
    padding: 10px 7px;
  }
  .hero__info {
    margin-top: 57px;
  }
  .hero__info span {
    font-size: 12px;
    margin-left: 12px;
    max-width: 120px;
  }
  .hero__info div {
    margin-right: 40px;
  }
  .hero__socials {
    top: 14em;
    left: -18.5vw;
  }
  .hero__slider__items-dest {
    top: 42vh;
    right: -25vw;
  }
  .hero__slider__items-arrows .next {
    top: 22vh;
    right: -18.7vw;
  }
  .hero__slider__items-arrows .prev {
    right: -18.7vw;
    bottom: 22vh;
  }
  .hero__scroll-btn {
    margin-top: 12vh;
  }
}

@media screen and (max-height: 721px) {
  .hero__scroll-btn {
    margin-top: 6.5vh;
  }
}

@media screen and (max-width: 1025px) {
  .hero__socials {
    top: 14em;
    left: -17.5vw;
  }
  .hero__slider__items-dest {
    top: 44vh;
    right: -26.5vw;
  }
  .hero__slider__items-arrows .next {
    top: 24vh;
    right: -18vw;
  }
  .hero__slider__items-arrows .prev {
    right: -18vw;
    bottom: 20vh;
  }
  .hero__scroll-btn {
    margin-top: 22vh;
  }
}

@media screen and (max-width: 1025px) and (height: 1366px) {
  .hero__content {
    padding-top: 220px;
    max-width: 600px;
  }
  .hero__title {
    margin-top: 50px;
    font-size: 44px;
    line-height: 55px;
  }
  .hero__form {
    margin-top: 60px;
  }
  .hero__form ul li {
    padding: 10px 7px;
  }
  .hero__info {
    margin-top: 67px;
  }
  .hero__info span {
    font-size: 12px;
    margin-left: 26px;
    max-width: 120px;
  }
  .hero__info div {
    margin-right: 30px;
  }
  .hero__socials {
    top: 14em;
    left: -18.5vw;
  }
  .hero__slider__items-dest {
    top: 26vh;
    right: -27vw;
  }
  .hero__slider__items-arrows .next {
    top: 14vh;
    right: -18.7vw;
  }
  .hero__slider__items-arrows .prev {
    right: -18.7vw;
    bottom: 40vh;
  }
  .hero__scroll-btn {
    margin-top: 39vh;
  }
}

@media screen and (max-width: 769px) {
  .hero__title {
    margin-top: 46px;
    font-size: 34px;
    line-height: 50px;
  }
  .hero__info {
    margin-top: 57px;
  }
  .hero__socials {
    top: 14em;
    left: -8vw;
  }
  .hero__slider__items-dest {
    top: 38vh;
    right: -19.5vw;
  }
  .hero__slider__items-arrows .next {
    top: 19vh;
    right: -8.5vw;
  }
  .hero__slider__items-arrows .prev {
    right: -8.5vw;
    bottom: 30vh;
  }
  .hero__form {
    margin-top: 42px;
  }
  .hero__scroll-btn {
    margin-top: 22vh;
  }
}

@media screen and (max-width: 769px) and (height: 1024px) {
  .hero__scroll-btn {
    margin-top: 31vh;
  }
}

@media screen and (max-width: 718px) and (max-height: 513px) {
  .hero__content {
    padding-top: 100px;
  }
  .hero__title {
    margin-top: 20px;
  }
  .hero__socials {
    top: 20vh;
    left: -5.5vw;
  }
  .hero__slider__items-dest {
    right: -18vw;
    top: 45vh;
  }
  .hero__slider__items-arrows .next {
    right: -5.7vw;
  }
  .hero__slider__items-arrows .prev {
    right: -5.7vw;
    bottom: 15vh;
  }
  .hero__form {
    margin-top: 26px;
  }
  .hero__info {
    margin-top: 26px;
  }
  .hero__scroll-btn {
    margin-top: 0vh;
  }
}

@media screen and (max-width: 540px) and (height: 720px) {
  .hero__content {
    padding-top: 140px;
  }
  .hero__socials {
    top: 10vh;
    left: 0vw;
  }
  .hero__socials svg {
    margin-bottom: -8px;
  }
  .hero__slider__items-dest {
    right: -15vw;
    top: 34vh;
  }
  .hero__slider__items-dest svg {
    margin-right: 18px;
  }
  .hero__slider__items-arrows .next {
    right: -0.5vw;
  }
  .hero__slider__items-arrows .prev {
    right: -0.5vw;
    bottom: 14vh;
  }
  .hero__scroll-btn {
    margin-top: 4vh;
  }
}

@media screen and (max-width: 426px) {
  .hero__content {
    padding-top: 130px;
  }
  .hero__form ul li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .hero__form .hero__form__description {
    max-width: 48px;
    font-size: 10px;
  }
  .hero__socials {
    top: 12vh;
    left: 0vw;
  }
  .hero__socials ul li {
    margin-bottom: 33px;
  }
  .hero__slider__items-dest {
    top: 30vh;
    right: -19.5vw;
  }
  .hero__slider__items-arrows .next {
    top: 15vh;
    right: 0.5vw;
  }
  .hero__slider__items-arrows .prev {
    right: 0.5vw;
    bottom: 30vh;
  }
  .hero__scroll-btn {
    margin-top: 6vh;
  }
}

@media screen and (max-width: 415px) and (max-height: 737px) {
  .hero__form {
    margin-top: 16px;
    margin-left: -6px;
  }
  .hero__info {
    margin-top: 40px;
  }
  .hero__info div {
    margin-right: 10px;
  }
  .hero__info svg {
    margin-bottom: 6px;
  }
  .hero__slider__items-dest {
    right: -11.5vh;
  }
  .hero__slider__items-arrows .prev {
    bottom: 43vh;
  }
  .hero__scroll-btn {
    margin-top: 2vh;
  }
}

@media screen and (max-width: 412px) and (height: 823px) {
  .hero__slider__items-dest {
    right: -20vw;
  }
  .hero__form {
    margin-top: 30px;
    margin-left: -7px;
  }
  .hero__info div {
    margin-right: 0;
  }
  .hero__info span {
    margin-left: 12px;
  }
  .hero__scroll-btn {
    margin-top: 8.5vh;
  }
}

@media screen and (max-width: 412px) and (height: 731px) {
  .hero__scroll-btn {
    margin-top: 1.5vh;
  }
}

@media screen and (max-width: 376px) {
  .hero__form {
    margin-left: -22px;
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  .hero__info {
    margin-top: 24px;
  }
  .hero__info svg {
    margin-bottom: 8px;
  }
  .hero__info div {
    margin-right: 8px;
  }
  .hero__slider__items-dest {
    top: 28vh;
    right: -23vw;
  }
  .hero__slider__items-arrows .next {
    top: 15vh;
    right: 0vw;
  }
  .hero__slider__items-arrows .prev {
    right: 0vw;
    bottom: 48vh;
  }
  .hero__scroll-btn {
    margin-top: 15vh;
  }
}

@media screen and (max-width: 376px) and (height: 812px) {
  .hero__slider__items-dest {
    right: -20.5vw;
  }
  .hero__slider__items-dest span {
    font-size: 14px;
  }
  .hero__slider__items-arrows .prev {
    bottom: 45vh;
  }
  .hero__info div {
    margin-right: 6px;
  }
  .hero__scroll-btn {
    margin-top: 8.5vh;
  }
}

@media screen and (max-width: 376px) and (height: 667px) {
  .hero__content {
    padding-top: 120px;
  }
  .hero__title {
    margin-top: 20px;
  }
  .hero__slider__items-dest {
    top: 30vh;
    right: -21.5vw;
  }
  .hero__slider__items-arrows .prev {
    bottom: 44vh;
  }
  .hero__scroll-btn {
    margin-top: 0vh;
  }
}

@media screen and (max-width: 361px) and (height: 640px) {
  .hero__content {
    padding-top: 120px;
  }
  .hero__title {
    margin-top: 20px;
  }
  .hero__slider__items-dest {
    top: 30vh;
    right: -22vw;
  }
  .hero__slider__items-arrows .prev {
    bottom: 43vh;
  }
  .hero__form {
    margin-top: -10px;
    margin-left: -30px;
    -webkit-transform: scale(0.87);
            transform: scale(0.87);
  }
  .hero__info {
    margin-top: 16px;
  }
  .hero__info svg {
    margin-bottom: 6px;
  }
  .hero__scroll-btn {
    margin-top: 0vh;
  }
}

@media screen and (max-width: 321px) {
  .hero__content {
    padding-top: 118px;
  }
  .hero__title {
    font-size: 28px;
    margin-top: 28px;
  }
  .hero__form {
    margin-left: -44px;
    -webkit-transform: scale(0.78);
            transform: scale(0.78);
  }
  .hero__info span {
    margin-left: 7px;
  }
  .hero__slider__items-dest {
    top: 26vh;
    right: -20vw;
  }
  .hero__slider__items-dest span {
    font-size: 14px;
  }
  .hero__slider__items-dest svg {
    margin-right: 2px;
  }
  .hero__slider__items-arrows .next {
    top: 14vh;
    right: 0vw;
  }
  .hero__slider__items-arrows .prev {
    right: 0vw;
    bottom: 52vh;
  }
  .hero__scroll-btn {
    margin-top: 18.5vh;
  }
}

@media screen and (max-width: 321px) and (height: 568px) {
  .hero__title {
    font-size: 25px;
    margin-top: 12px;
  }
  .hero__content {
    padding-top: 60px;
  }
  .hero__socials ul li {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
    margin-bottom: 15px;
  }
  .hero__slider__items-dest {
    top: 25vh;
    right: -16vw;
  }
  .hero__slider__items-dest span {
    font-size: 11px;
  }
  .hero__slider__items-dest svg {
    width: 16px;
    height: 12px;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    margin-right: 2px;
  }
  .hero__slider__items-arrows .next {
    top: 12vh;
    right: 0vw;
  }
  .hero__slider__items-arrows .prev {
    right: 0vw;
    top: 40vh;
  }
  .hero__form {
    margin-top: -28px;
    -webkit-transform: scale(0.75);
            transform: scale(0.75);
  }
  .hero__info {
    margin-top: -12px;
  }
  .hero__info span {
    margin-left: 5px;
  }
  .hero__scroll-btn {
    margin-top: 4vh;
  }
}

@media screen and (max-width: 281px) and (max-height: 654px) {
  .hero__content {
    padding-top: 60px;
  }
  .hero__title {
    margin-top: 10px;
    font-size: 26px;
    line-height: 40px;
  }
  .hero__socials {
    top: 12vh;
  }
  .hero__socials ul li {
    margin-bottom: 18px;
  }
  .hero__slider__items-dest {
    top: 24vh;
    right: -19vw;
  }
  .hero__slider__items-dest span {
    font-weight: normal;
    font-size: 12px;
  }
  .hero__slider__items-arrows .prev {
    top: 38vh;
  }
  .hero__slider__items-arrows .next {
    top: 10vh;
  }
  .hero__form {
    margin-left: -57px;
    -webkit-transform: scale(0.67);
            transform: scale(0.67);
  }
  .hero__info {
    margin-left: -9px;
  }
  .hero__info div {
    margin-right: -2px;
  }
  .hero__scroll-btn {
    margin-top: 13vh;
  }
}

.services {
  margin-top: 90px;
  text-align: center;
}

.services__text {
  background: url("../images/TRAVEL.png") center no-repeat;
  background-position: top;
  background-size: 100%;
  text-align: center;
  max-width: 750px;
  min-height: 220px;
  margin: 6px auto 0;
}

.services__text h2 {
  padding-top: 55px;
}

.services__description {
  padding: 65px 50px 0;
}

.services__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 70px;
}

.services__list-column {
  max-width: 160px;
  min-height: 255px;
  background-color: #fff;
  -webkit-box-shadow: 0px 2px 5px rgba(54, 61, 77, 0.05);
          box-shadow: 0px 2px 5px rgba(54, 61, 77, 0.05);
  border-radius: 10px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
}

.services__list-column svg {
  margin: 50px 50px 67px;
}

.services__list-column:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.services__list-column span {
  margin-bottom: 50px;
  font-family: 'San Francisco Pro';
  font-style: normal;
  font-weight: 800;
  font-size: 12px;
  line-height: 20px;
  color: #6B7A99;
}

@media screen and (max-width: 1281px) {
  .services {
    margin-top: -40px;
  }
}

@media screen and (max-width: 1025px) {
  .services__list-column {
    max-width: 130px;
    min-height: 235px;
  }
  .services__list-column svg {
    margin: 40px 30px 50px;
  }
}

@media screen and (max-width: 769px) {
  .services__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .services__list-column {
    max-width: 180px;
    min-height: 285px;
    margin: 40px 31px 0 31px;
  }
  .services__list-column svg {
    margin: 50px 50px 67px;
  }
  .services__list-column span {
    display: inline-block;
    font-size: 16px;
  }
}

@media screen and (max-width: 426px) {
  .services__list-column {
    max-width: 160px;
    min-height: 255px;
    margin: 25px 15px 0 20px;
  }
}

@media screen and (max-width: 376px) {
  .services__list-column {
    max-width: 145px;
    min-height: 245px;
    margin: 25px 15px 0 15px;
  }
  .services__list-column svg {
    margin: 40px 40px 60px;
  }
}

@media screen and (max-width: 321px) {
  .services__description {
    padding: 0;
  }
  .services__list-column {
    max-width: 135px;
    min-height: 245px;
    margin: 20px 5px 0 10px;
  }
  .services__list-column svg {
    margin: 40px 40px 60px;
  }
}

.promo {
  text-align: center;
  margin: 95px 0;
}

.promo__text {
  background: url("../images/TOURS.png") center no-repeat;
  background-position: top;
  background-size: 100%;
  max-width: 750px;
  min-height: 220px;
  margin: 6px auto 0;
}

.promo__text h2 {
  padding-top: 55px;
}

.promo__description {
  padding: 30px 50px 60px;
}

.promo__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 190px  190px  190px  190px 190px  190px;
      grid-template-columns: 190px  190px  190px  190px 190px  190px;
  grid-auto-rows: 175px;
}

.promo__list .promo-1 {
  position: relative;
  -ms-grid-column: 1;
      grid-column-start: 1;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 3;
  background-color: rgba(0, 0, 0, 0.3);
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  border-radius: 10px 0px 0px 10px;
}

.promo__list .promo-1 img {
  left: 0;
  bottom: 0;
  position: absolute;
  z-index: -100;
}

.promo__list .promo-1 .promo__text {
  position: absolute;
  top: 0;
  padding-top: 40px;
  left: 5%;
}

.promo__list .promo-1 .promo__text span:first-child {
  opacity: 0.6;
}

.promo__list .promo-1 .promo__text span {
  font-family: 'San Francisco Pro';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 20px;
  color: #fff;
}

.promo__list .promo-1 .promo__text h4 {
  font-family: 'San Francisco Pro';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  color: #fff;
  margin: 15px 47px 140px;
}

.promo__list .promo-1 .promo__text div {
  margin-bottom: 36px;
}

.promo__list .promo-3 {
  position: relative;
  background-color: rgba(0, 0, 0, 0.3);
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.promo__list .promo-3 img {
  left: 0;
  bottom: 0;
  position: absolute;
  z-index: -100;
}

.promo__list .promo-3 .promo__text-1 {
  position: absolute;
  top: 0;
  padding-top: 25px;
}

.promo__list .promo-3 .promo__text-1 span:first-child {
  opacity: 0.6;
}

.promo__list .promo-3 .promo__text-1 span {
  font-family: 'San Francisco Pro';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 20px;
  color: #fff;
  margin: 25px 69px  25px 25px;
}

.promo__list .promo-3 .promo__text-1 span svg {
  padding-right: 15px;
  margin: -5px 0 -6px 0;
}

.promo__list .promo-3 .promo__text-1 h4 {
  font-family: 'San Francisco Pro';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  color: #fff;
  margin: 25px 84px  25px 25px;
}

.promo__list .promo-4 {
  -ms-grid-column: 4;
      grid-column-start: 4;
  grid-column-end: 6;
  position: relative;
  background-color: rgba(0, 0, 0, 0.3);
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.promo__list .promo-4 img {
  left: 0;
  bottom: 0;
  position: absolute;
  z-index: -100;
}

.promo__list .promo-4 .promo__text-2 {
  position: absolute;
  top: 0;
  padding-top: 25px;
}

.promo__list .promo-4 .promo__text-2 span:first-child {
  opacity: 0.6;
}

.promo__list .promo-4 .promo__text-2 span {
  font-family: 'San Francisco Pro';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 20px;
  color: #fff;
  margin: 25px 69px  25px 25px;
}

.promo__list .promo-4 .promo__text-2 span svg {
  margin: -5px 0 -6px 0;
  padding-right: 15px;
}

.promo__list .promo-4 .promo__text-2 h4 {
  font-family: 'San Francisco Pro';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  color: #fff;
  margin: 25px 84px  25px 25px;
}

.promo__list .promo-5 {
  position: relative;
  background-color: rgba(0, 0, 0, 0.3);
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  border-radius: 0px 10px 0px 0px;
}

.promo__list .promo-5 img {
  left: 0;
  bottom: 0;
  position: absolute;
  z-index: -100;
}

.promo__list .promo-5 .promo__text-3 {
  position: absolute;
  top: 0;
  padding-top: 25px;
}

.promo__list .promo-5 .promo__text-3 span:first-child {
  opacity: 0.6;
}

.promo__list .promo-5 .promo__text-3 span {
  font-family: 'San Francisco Pro';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  color: #fff;
  margin: 25px 69px  25px 25px;
  text-align: center;
}

.promo__list .promo-5 .promo__text-3 span svg {
  padding-right: 15px;
  margin: -5px 0 -6px 0;
}

.promo__list .promo-5 .promo__text-3 h4 {
  font-family: 'San Francisco Pro';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  color: #fff;
  margin: 25px 84px  25px 25px;
}

.promo__list .promo-6 {
  position: relative;
  background-color: rgba(0, 0, 0, 0.3);
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.promo__list .promo-6 img {
  left: 0;
  bottom: 0;
  position: absolute;
  z-index: -100;
}

.promo__list .promo-6 .promo__text-4 {
  position: absolute;
  top: 0;
  padding-top: 25px;
}

.promo__list .promo-6 .promo__text-4 span:first-child {
  opacity: 0.6;
}

.promo__list .promo-6 .promo__text-4 span {
  font-family: 'San Francisco Pro';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 20px;
  color: #fff;
  margin: 25px 69px  25px 25px;
}

.promo__list .promo-6 .promo__text-4 span svg {
  padding-right: 15px;
  margin: -5px 0 -6px 0;
}

.promo__list .promo-6 .promo__text-4 h4 {
  font-family: 'San Francisco Pro';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  color: #fff;
  margin: 25px 84px  25px 25px;
}

.promo__list .promo-7 {
  position: relative;
  background-color: rgba(0, 0, 0, 0.3);
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.promo__list .promo-7 span:first-child {
  opacity: 0.6;
}

.promo__list .promo-7 img {
  left: 0;
  bottom: 0;
  position: absolute;
  z-index: -100;
}

.promo__list .promo-7 .promo__text-5 {
  position: absolute;
  top: 0;
  padding-top: 25px;
}

.promo__list .promo-7 .promo__text-5 span {
  font-family: 'San Francisco Pro';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 20px;
  color: #fff;
  margin: 25px 69px  25px 25px;
}

.promo__list .promo-7 .promo__text-5 span svg {
  padding-right: 15px;
  margin: -5px 0 -6px 0;
}

.promo__list .promo-7 .promo__text-5 h4 {
  font-family: 'San Francisco Pro';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  color: #fff;
  margin: 25px 84px  25px 25px;
}

.promo__list .promo-8 {
  position: relative;
  background-color: rgba(0, 0, 0, 0.3);
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.promo__list .promo-8 img {
  left: 0;
  bottom: 0;
  position: absolute;
  z-index: -100;
}

.promo__list .promo-8 .promo__text-6 {
  position: absolute;
  top: 0;
  padding-top: 25px;
}

.promo__list .promo-8 .promo__text-6 span:first-child {
  opacity: 0.6;
}

.promo__list .promo-8 .promo__text-6 span {
  font-family: 'San Francisco Pro';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 20px;
  color: #fff;
  margin: 25px 69px  25px 25px;
}

.promo__list .promo-8 .promo__text-6 span svg {
  padding-right: 15px;
  margin: -5px 0 -6px 0;
}

.promo__list .promo-8 .promo__text-6 h4 {
  font-family: 'San Francisco Pro';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  color: #fff;
  margin: 25px 84px  25px 25px;
}

.promo__list .promo-9 {
  position: relative;
  background-color: rgba(0, 0, 0, 0.3);
  height: 100%;
  width: 380px;
  top: 0;
  left: 0;
}

.promo__list .promo-9 img {
  left: 0;
  bottom: 0;
  position: absolute;
  z-index: -100;
}

.promo__list .promo-9 .promo__text-7 {
  position: absolute;
  top: 0;
  padding-top: 25px;
}

.promo__list .promo-9 .promo__text-7 span:first-child {
  opacity: 0.6;
}

.promo__list .promo-9 .promo__text-7 span {
  font-family: 'San Francisco Pro';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 20px;
  color: #fff;
  margin: 25px 69px  25px 25px;
}

.promo__list .promo-9 .promo__text-7 span svg {
  padding-right: 15px;
  margin: -5px 0 -6px 0;
}

.promo__list .promo-9 .promo__text-7 h4 {
  font-family: 'San Francisco Pro';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  color: #fff;
  margin: 25px 84px  25px 25px;
}

.promo__list .promo-9 .button {
  margin: -16px -140px 0px 330px;
  cursor: pointer;
}

@media screen and (max-width: 1025px) {
  .promo__list {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
    margin-left: -70px;
  }
}

@media screen and (max-width: 769px) {
  .promo__list {
    margin-left: 80px;
    -webkit-transform: scale(1);
            transform: scale(1);
    -ms-grid-columns: 190px 190px 190px;
        grid-template-columns: 190px 190px 190px;
    grid-auto-rows: 175px;
  }
  .promo__list .promo-1 {
    border-radius: 10px 0px 0px 0px;
  }
  .promo__list .promo-1 img {
    border-radius: 10px 0px 0px 0px;
  }
  .promo__list .promo-3 {
    border-radius: 0px 10px 0px 0px;
  }
  .promo__list .promo-3 img {
    border-radius: 0px 10px 0px 0px;
  }
  .promo__list .promo-4 {
    grid-column-end: 2;
  }
  .promo__list .promo-5 {
    border-radius: 0;
  }
  .promo__list .promo-8 {
    border-radius: 0px 0px 0px 10px;
  }
  .promo__list .promo-8 img {
    border-radius: 0px 0px 0px 10px;
  }
  .promo__list .promo-9 {
    border-radius: 0px 0px 10px 0px;
  }
}

@media screen and (max-width: 426px) {
  .promo__list {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    margin-left: 8px;
    -ms-grid-columns: 190px 190px;
        grid-template-columns: 190px 190px;
    grid-auto-rows: 175px;
  }
  .promo__list .promo-2 img {
    border-radius: 0 10px 0 0;
  }
  .promo__list .promo-3 {
    grid-column-end: 3;
    border-radius: 0;
  }
  .promo__list .promo-3 img {
    border-radius: 0;
  }
  .promo__list .promo-4 {
    max-width: 380px;
    grid-column-end: 1;
  }
  .promo__list .promo-7 {
    grid-column-end: 2;
  }
  .promo__list .promo-8 {
    border-radius: 0;
  }
  .promo__list .promo-8 img {
    border-radius: 0;
  }
  .promo__list .promo-9 {
    grid-column-end: 2;
    border-radius: 0px 0px 10px 10px;
  }
  .promo__list .promo-9 img {
    border-radius: 0px 0px 0px 10px;
  }
}

.booking__title {
  margin: 6px auto;
  max-width: 750px;
  min-height: 220px;
  background: url(../images/TRAVEL.png) center no-repeat;
  background-position: top;
  background-size: 100%;
}

.booking__title h2 {
  padding-top: 55px;
}

.booking__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 100px;
}

.booking__filter__block {
  display: block;
  max-width: 190px;
}

.booking__filter__block-item {
  background: #FFFFFF;
  border: 2px solid #F5F6F7;
  min-height: 100px;
}

.booking__filter__block-item span {
  display: inline-block;
  width: 120px;
  height: 20px;
  margin: 20px 0 10px 20px;
  font-family: 'San Francisco Pro';
  font-style: normal;
  font-weight: 900;
  font-size: 12px;
  line-height: 20px;
  color: #6B7A99;
}

.booking__filter__block-item span.last {
  margin: 0 0 20px 20px;
}

.booking__filter__block-item.tour-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 10px 0px 0px 0px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'San Francisco Pro';
  font-style: normal;
  font-weight: 800;
  font-size: 14px;
  line-height: 30px;
  color: #4D5E80;
}

.booking__filter__block-item.apply {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'San Francisco Pro';
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
  line-height: 30px;
  color: #3361FF;
  cursor: pointer;
}

.booking__filter__block-item svg {
  margin: -17px 10px 12px 10px;
}

.booking__filter__settings {
  max-width: 230px;
  background-color: #fff;
  border: 2px solid #F5F6F7;
  min-height: 120px;
}

.booking__filter__settings span {
  display: inline-block;
  margin: 20px 0 22px 20px;
  font-family: 'San Francisco Pro';
  font-style: normal;
  font-weight: 900;
  font-size: 12px;
  line-height: 20px;
  color: #6B7A99;
}

.booking__load-more {
  max-width: 100%;
  padding: 42px 0 42px;
  margin-bottom: 130px;
  text-align: center;
  background-color: #fff;
  border: 2px solid #F5F6F7;
  border-radius: 0px 0px 10px 10px;
  font-family: 'San Francisco Pro';
  font-style: normal;
  font-weight: 800;
  font-size: 13px;
  line-height: 25px;
  color: #7D8FB3;
  cursor: pointer;
}

.booking__filter__settings-value {
  display: inline-block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: 'San Francisco Pro';
  font-style: normal;
  font-weight: 900;
  font-size: 12px;
  line-height: 20px;
  color: #6B7A99;
}

.booking__filter__settings-value span {
  display: inline-block;
  width: 85px;
  margin: 20px 0 0 10px;
}

.booking_badge {
  margin-bottom: 20px;
}

.booking__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.booking__block__data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.booking__block__data-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #fff;
  border: 2px solid #F5F6F7;
  width: 456px;
  height: 195.2px;
  font-family: 'San Francisco Pro';
  font-style: normal;
  font-weight: 900;
  font-size: 12px;
  line-height: 20px;
  color: #4D5E80;
}

.booking__block__data-item h3 {
  padding: 30px 0 16px 30px;
  font-size: 14px;
}

.booking__block__data-item div {
  margin: 6px 20px 6px 0;
}

.booking__block__data-item div span {
  margin: 0 10px 0 30px;
  font-weight: normal;
  color: #7D8FB3;
}

.booking__block__data-item-img {
  position: relative;
}

.booking__block__data-item-img .cost {
  position: absolute;
  bottom: 15%;
  left: 5%;
  font-family: 'San Francisco Pro';
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
  line-height: 30px;
  color: #FFFFFF;
}

.booking__block__data-item-img img {
  max-width: 160px;
}

#budget-slider,
#perDay,
#days {
  max-width: 93%;
}

#budget-slider:hover,
#perDay:hover,
#days:hover {
  cursor: -webkit-grab;
  cursor: grab;
}

@media screen and (max-width: 1110px) {
  .booking__block__data-item {
    max-width: calc(100vw / 2 - 118px);
  }
}

@media screen and (max-width: 1025px) {
  .booking__block {
    margin-left: -15px;
  }
  .booking__block__data-item div {
    margin: 6px 5px;
  }
  .booking__load-more {
    max-width: 101%;
    margin-left: -15px;
  }
  .booking__block__data-item .booking__block__data-item-img {
    margin-top: 20px;
  }
  .booking__block__data-item .booking__block__data-item-img .cost {
    left: 0;
    font-weight: normal;
    font-size: 12px;
  }
  .booking__block__data-item-img img {
    max-width: 140px;
  }
}

@media screen and (max-width: 769px) {
  .booking__block {
    overflow: hidden;
  }
  .booking__block__data {
    max-height: 900px;
  }
  .booking__block__data-item {
    width: 525px;
    max-width: 900px;
  }
  .booking__block__data-item-img img {
    max-width: 200px;
  }
  .booking__block__data-item .booking__block__data-item-img {
    margin-top: 10px;
  }
  .booking__block__data-item .booking__block__data-item-img .cost {
    left: 0;
    font-weight: normal;
    font-size: 16px;
  }
  .booking__block {
    margin-left: 10px;
  }
  .booking__load-more {
    margin-left: 10px;
  }
}

@media screen and (max-width: 426px) {
  .booking__filter__block {
    max-width: 170px;
  }
  .booking__filter__block-item.apply {
    min-height: 82px;
  }
  .booking__filter__block-item svg {
    margin: 0 0 10px;
  }
  .booking__block__data-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    height: 245px;
    width: 335px;
    max-width: 450px;
  }
  .booking__block__data-item h3 {
    padding: 5px 0 5px 19px;
  }
  .booking__block__data-item div {
    margin: 0;
  }
  .booking__block {
    margin-left: -5px;
  }
  .booking__load-more {
    margin-left: -5px;
  }
  .booking__block__data-item-img img {
    max-width: 140px;
  }
  .booking__block__data-item .booking__block__data-item-img {
    margin-left: 30px;
  }
  .booking__block__data-item .booking__block__data-item-img .cost {
    left: -5%;
    font-weight: normal;
    font-size: 16px;
  }
}

@media screen and (max-width: 376px) {
  .booking__block__data-item h3 {
    padding: 5px 0 5px 8px;
  }
  .booking__block__data-item div {
    font-size: 10px;
  }
  .booking__block__data-item div span {
    margin: 0 5px 0 12px;
  }
  .booking__block__data-item .booking__block__data-item-img {
    margin-left: 15px;
  }
  .booking__block__data-item .booking__block__data-item-img .cost {
    left: 1%;
  }
}

@media screen and (max-width: 321px) {
  .booking__block__data-item h3 {
    margin-left: -54px;
    -webkit-transform: scale(0.73);
            transform: scale(0.73);
  }
  .booking__block__data-item div {
    margin-left: -48px;
    -webkit-transform: scale(0.75);
            transform: scale(0.75);
  }
  .booking__block__data-item .booking__block__data-item-img {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
    margin-left: -15px;
  }
  .booking__block__data-item .booking__block__data-item-img .cost {
    left: 1%;
    font-weight: normal;
    font-size: 16px;
  }
  .booking__filter__block {
    max-width: 150px;
  }
  .booking__filter__block-item {
    min-height: 101.5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .booking__filter__block-item svg {
    margin: -20px -5px 10px 3px;
  }
  .booking__filter__block-item span {
    margin: 20px 0 20px 2px;
  }
  .booking__filter__block-item span.last {
    margin: 0px 0 0 3px;
  }
}

.reviews__text {
  background: url(../images/INSTA.png) center no-repeat;
  background-position: top;
  background-size: 60%;
  position: relative;
  min-width: 760px;
  min-height: 220px;
  padding-top: 30px;
  margin: 6px auto 0;
}

.reviews__text h2 {
  padding-top: 30px;
}

.reviews__prev {
  position: absolute;
  margin-top: 30px;
  left: 0;
  top: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}

.reviews__prev svg path {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.reviews__prev:hover svg path {
  fill: black;
}

.reviews__next {
  position: absolute;
  margin-top: 30px;
  right: 0;
  top: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}

.reviews__next svg path {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.reviews__next:hover svg path {
  fill: black;
}

.reviews__insta {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 245px 245px 245px 245px;
      grid-template-columns: 245px 245px 245px 245px;
  grid-auto-rows: 245px;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  margin-bottom: 100px;
}

.reviews__insta img {
  max-width: 245px;
  max-height: 245px;
  margin: 13px;
}

.reviews-item__insta {
  position: relative;
}

.reviews-item__insta .caption {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  left: 5%;
  top: 5%;
  background: rgba(0, 0, 0, 0.5);
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
  opacity: 0;
}

.reviews-item__insta .caption:hover {
  opacity: 1;
}

.reviews-item__insta .insta {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  left: 1%;
  top: 1%;
  cursor: pointer;
  text-align: center;
}

.reviews-item__insta .insta svg {
  margin-top: 80px;
}

.reviews-item__insta .insta svg:hover path {
  fill: #000;
}

.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#reviews__slider {
  overflow: hidden;
}

@media screen and (max-width: 1025px) {
  .reviews__insta {
    -webkit-transform: scale(0.86);
            transform: scale(0.86);
    margin-left: -15px;
  }
}

@media screen and (max-width: 769px) {
  .reviews__insta {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
    margin-left: 10px;
  }
}

.footer {
  background-color: #000;
}

.footer__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.footer__block .footer-btn {
  position: absolute;
  top: 30%;
  right: 3%;
  cursor: pointer;
}

.footer__block .footer-btn svg:hover path {
  fill: #4D5E80;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.footer__block-contacts {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 200px 200px;
      grid-template-columns: 200px 200px;
  -ms-grid-rows: 25px;
      grid-template-rows: 25px;
  grid-column-gap: 83px;
  grid-row-gap: 25px;
  font-family: 'San Francisco Pro';
  font-style: normal;
  font-weight: 800;
  font-size: 13px;
  line-height: 25px;
  color: #fff;
  opacity: 0.6;
  margin: 52px 0 0 50px;
}

.footer__block .footer-item {
  position: relative;
}

.footer__block .footer-item .footer-item__icon {
  position: absolute;
  left: -22%;
  margin-top: 5px;
}

.footer__block-menu {
  margin: 40px 0 80px 100px;
}

.footer__block-menu ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 60px 60px 60px 60px;
      grid-template-columns: 60px 60px 60px 60px;
  -ms-grid-rows: 25px;
      grid-template-rows: 25px;
  grid-column-gap: 43px;
  grid-row-gap: 25px;
  font-family: 'San Francisco Pro';
  font-style: normal;
  font-weight: 800;
  font-size: 13px;
  line-height: 25px;
  color: #FFFFFF;
}

.footer__block-menu ul li {
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.footer__block-menu ul li:hover {
  color: #4D5E80;
}

@media screen and (max-width: 1025px) {
  .footer__block {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  .footer__block .footer-btn {
    display: none;
  }
}

@media screen and (max-width: 769px) {
  .footer__block {
    display: inline-block;
  }
  .footer__block-menu {
    margin: 40px 0 80px 0;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  background-color: #E5E5E5;
}

a {
  text-decoration: none;
  color: inherit;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

@media screen and (max-width: 1111px) {
  .container {
    margin: 0 auto;
    width: 95%;
  }
}
/*# sourceMappingURL=index.css.map */