@font-face {
  font-family: 'San Francisco Pro';
  src: url("../fonts/SF-Pro-Display-Bold.woff") format("woff");
  font-weight: 700;
}

@font-face {
  font-family: 'San Francisco Pro';
  src: url("../fonts/SF-Pro-Display-Semibold.woff") format("woff");
  font-weight: 600;
}

@font-face {
  font-family: 'San Francisco Pro';
  src: url("../fonts/SF-Pro-Display-Medium.woff") format("woff");
  font-weight: 500;
}

@font-face {
  font-family: 'San Francisco Pro';
  src: url("../fonts/SF-Pro-Display-Regular.woff") format("woff");
  font-weight: 400;
}

@font-face {
  font-family: 'San Francisco Pro';
  src: url("../../fonts/SF-Pro-Display-Light.woff") format("woff");
  font-weight: 300;
}

.label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 80px;
  height: 30px;
  background-color: #FF6633;
  border-radius: 30px;
}

.label span {
  font-family: 'San Francisco Pro';
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-weight: bold;
  font-size: 12px;
  color: #fff;
}

h2 {
  font-family: 'San Francisco Pro';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 60px;
  color: #7D8FB3;
  text-align: center;
}

h2 span {
  font-family: 'San Francisco Pro';
  font-style: normal;
  font-weight: 800;
  font-size: 36px;
  line-height: 60px;
  color: #4D5E80;
}

.description {
  font-family: 'San Francisco Pro';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 30px;
  color: #7D8FB3;
  text-align: center;
  max-width: 630px;
}

.header {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}

.header__panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 74px;
}

.header__burger-btn {
  cursor: pointer;
  margin-top: 3px;
}

.header__burger-btn span {
  position: relative;
  display: inline-block;
  width: 18px;
  height: 2px;
  border-radius: 3px;
  background-color: #FFFFFF;
}

.header__burger-btn span::after, .header__burger-btn span::before {
  position: absolute;
  content: "";
  cursor: pointer;
  background-color: #FFFFFF;
  width: inherit;
  height: inherit;
  border-radius: 3px;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.header__burger-btn span::before {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.header__logo {
  font-family: 'San Francisco Pro';
  font-weight: Bold;
  color: white;
  font-size: 20px;
  max-width: 110px;
  margin-left: 41px;
}

.header__search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__search svg {
  max-width: 18px;
  margin: 0 30px 0 130px;
  opacity: 0.5;
}

.header__search svg:hover {
  cursor: pointer;
}

.header__search-text {
  font-family: 'San Francisco Pro';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  color: #FFFFFF;
  opacity: 0.5;
}

.header__search-text:hover {
  cursor: pointer;
}

.header__navigation {
  margin-left: 200px;
}

.header__navigation ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__navigation ul li {
  margin-right: 35px;
  font-family: 'San Francisco Pro';
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  color: #FFFFFF;
}

.header__get-in-touch {
  margin-left: auto;
  font-family: 'San Francisco Pro';
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  color: #FFFFFF;
  max-width: 80px;
}

.hero {
  background: url("../images/background.png") no-repeat;
  background-size: cover;
  background-position: center -20vh;
  height: 100vh;
}

.hero__content {
  position: relative;
  padding-top: 235px;
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
}

.hero__title {
  font-family: 'San Francisco Pro';
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 70px;
  margin-top: 65px;
  text-align: center;
  color: #FFFFFF;
}

.hero__title span {
  font-weight: 800;
}

.hero__socials {
  position: absolute;
  left: -19%;
  top: 34%;
}

.hero__socials ul li {
  cursor: pointer;
  margin-bottom: 37px;
}

.hero__form {
  margin-top: 60px;
}

.hero__form ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: start;
}

.hero__form ul li {
  border: 1px solid #ffffff5b;
  padding: 16px 20px;
}

.hero__form__description {
  display: inline-block;
  width: 65px;
  font-family: 'San Francisco Pro';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 20px;
  color: #FFFFFF;
  opacity: 0.6;
}

.hero__form__data {
  display: inline-block;
  margin-top: 10px;
  max-width: 85px;
  font-family: 'San Francisco Pro';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 20px;
  color: #FFFFFF;
}

.hero__form__search {
  font-family: 'San Francisco Pro';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  display: inline-block;
  margin-top: 9px;
  color: #FFFFFF;
  cursor: pointer;
}

.hero__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 80px;
}

.hero__info span {
  display: inline-block;
  max-width: 150px;
  text-align: start;
  margin-left: 40px;
  font-family: 'San Francisco Pro';
  font-style: normal;
  font-weight: 800;
  font-size: 14px;
  line-height: 30px;
  color: #FFFFFF;
}

.hero__info svg {
  margin-bottom: 24px;
}

.hero__info-addres {
  max-width: 270px;
  margin-right: 65px;
}

.hero__info-time {
  max-width: 270px;
  margin-right: 86px;
}

.hero__info-phone {
  max-width: 270px;
}

.hero__slider__items-dest {
  position: absolute;
  right: -30%;
  top: 45%;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.hero__slider__items-dest span {
  display: inline-block;
  max-width: 200px;
  font-family: 'San Francisco Pro';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 30px;
  color: #FFFFFF;
}

.hero__slider__items-dest svg {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  margin-right: 28px;
}

.hero__slider__items-arrows {
  cursor: pointer;
}

.hero__slider__items-arrows .next {
  position: absolute;
  right: -19.5%;
  top: 25%;
}

.hero__slider__items-arrows .prev {
  position: absolute;
  right: -19.5%;
  bottom: 23%;
}

.hero__scroll-btn {
  margin-top: 155px;
}

.hero__scroll-btn button {
  font-family: 'San Francisco Pro';
  font-style: normal;
  font-weight: 800;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  color: #7D8FB3;
  padding: 10px 25px;
  background: #FFFFFF;
  border: none;
  -webkit-box-shadow: 0px 10px 30px rgba(54, 61, 77, 0.05);
          box-shadow: 0px 10px 30px rgba(54, 61, 77, 0.05);
  border-radius: 30px;
  outline: none;
  cursor: pointer;
}

.services {
  background: url("../images/TRAVEL.png") center no-repeat;
  background-position: top;
  text-align: center;
  margin: 95px;
}

.services__text {
  max-width: 750px;
  min-height: 220px;
  margin: 0 auto;
}

.services__description {
  padding: 65px 50px 0;
}

.services__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 70px;
}

.services__list div {
  max-width: 160px;
  min-height: 255px;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0px 2px 5px rgba(54, 61, 77, 0.05);
          box-shadow: 0px 2px 5px rgba(54, 61, 77, 0.05);
  border-radius: 10px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
}

.services__list div svg {
  margin: 50px 50px 67px;
}

.services__list div:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.services__list div span {
  margin-bottom: 50px;
  font-family: 'San Francisco Pro';
  font-style: normal;
  font-weight: 800;
  font-size: 12px;
  line-height: 20px;
  color: #6B7A99;
}

.promo {
  background: url("../images/TOURS.png") center no-repeat;
  background-position: top;
  text-align: center;
  margin: 95px;
}

.promo__text {
  max-width: 750px;
  min-height: 220px;
  padding-top: 30px;
  margin: 0 auto;
}

.promo__description {
  padding: 35px 50px 0;
}

.promo__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 190px  190px  190px  190px 190px  190px;
      grid-template-columns: 190px  190px  190px  190px 190px  190px;
  grid-auto-rows: 175px;
}

.promo__list .promo-1 {
  background-color: rgba 0, 0, 0, 0.3;
  position: relative;
  -ms-grid-column: 1;
      grid-column-start: 1;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 3;
}

.promo__list .promo-1 .promo__text {
  position: absolute;
  top: 0;
  padding-top: 40px;
  left: 5%;
}

.promo__list .promo-1 .promo__text span {
  font-family: 'San Francisco Pro';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 20px;
  color: #FFFFFF;
}

.promo__list .promo-1 .promo__text h4 {
  font-family: 'San Francisco Pro';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  color: #FFFFFF;
  margin: 15px 47px 140px;
}

.promo__list .promo-1 .promo__text div {
  margin-bottom: 36px;
}

.promo__list .promo-3 {
  position: relative;
}

.promo__list .promo-3 .promo__text-1 {
  position: absolute;
  top: 0;
  padding-top: 25px;
}

.promo__list .promo-3 .promo__text-1 span {
  font-family: 'San Francisco Pro';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 20px;
  color: #FFFFFF;
  margin: 25px 69px  25px 25px;
}

.promo__list .promo-3 .promo__text-1 span svg {
  padding-right: 15px;
}

.promo__list .promo-3 .promo__text-1 h4 {
  font-family: 'San Francisco Pro';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  color: #FFFFFF;
  margin: 25px 84px  25px 25px;
}

.promo__list .promo-4 {
  -ms-grid-column: 4;
      grid-column-start: 4;
  grid-column-end: 6;
  position: relative;
}

.promo__list .promo-4 .promo__text-2 {
  position: absolute;
  top: 0;
  padding-top: 25px;
}

.promo__list .promo-4 .promo__text-2 span {
  font-family: 'San Francisco Pro';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 20px;
  color: #FFFFFF;
  margin: 25px 69px  25px 25px;
}

.promo__list .promo-4 .promo__text-2 span svg {
  padding-right: 15px;
}

.promo__list .promo-4 .promo__text-2 h4 {
  font-family: 'San Francisco Pro';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  color: #FFFFFF;
  margin: 25px 84px  25px 25px;
}

.promo__list .promo-5 {
  position: relative;
}

.promo__list .promo-5 .promo__text-3 {
  position: absolute;
  top: 0;
  padding-top: 25px;
}

.promo__list .promo-5 .promo__text-3 span {
  font-family: 'San Francisco Pro';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 20px;
  color: #FFFFFF;
  margin: 25px 69px  25px 25px;
}

.promo__list .promo-5 .promo__text-3 span svg {
  padding-right: 15px;
}

.promo__list .promo-5 .promo__text-3 h4 {
  font-family: 'San Francisco Pro';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  color: #FFFFFF;
  margin: 25px 84px  25px 25px;
}

.promo__list .promo-6 {
  position: relative;
}

.promo__list .promo-6 .promo__text-4 {
  position: absolute;
  top: 0;
  padding-top: 25px;
}

.promo__list .promo-6 .promo__text-4 span {
  font-family: 'San Francisco Pro';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 20px;
  color: #FFFFFF;
  margin: 25px 69px  25px 25px;
}

.promo__list .promo-6 .promo__text-4 span svg {
  padding-right: 15px;
}

.promo__list .promo-6 .promo__text-4 h4 {
  font-family: 'San Francisco Pro';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  color: #FFFFFF;
  margin: 25px 84px  25px 25px;
}

.promo__list .promo-7 {
  position: relative;
}

.promo__list .promo-7 .promo__text-5 {
  position: absolute;
  top: 0;
  padding-top: 25px;
}

.promo__list .promo-7 .promo__text-5 span {
  font-family: 'San Francisco Pro';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 20px;
  color: #FFFFFF;
  margin: 25px 69px  25px 25px;
}

.promo__list .promo-7 .promo__text-5 span svg {
  padding-right: 15px;
}

.promo__list .promo-7 .promo__text-5 h4 {
  font-family: 'San Francisco Pro';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  color: #FFFFFF;
  margin: 25px 84px  25px 25px;
}

.promo__list .promo-8 {
  position: relative;
}

.promo__list .promo-8 .promo__text-6 {
  position: absolute;
  top: 0;
  padding-top: 25px;
}

.promo__list .promo-8 .promo__text-6 span {
  font-family: 'San Francisco Pro';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 20px;
  color: #FFFFFF;
  margin: 25px 69px  25px 25px;
}

.promo__list .promo-8 .promo__text-6 span svg {
  padding-right: 15px;
}

.promo__list .promo-8 .promo__text-6 h4 {
  font-family: 'San Francisco Pro';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  color: #FFFFFF;
  margin: 25px 84px  25px 25px;
}

.promo__list .promo-9 {
  position: relative;
}

.promo__list .promo-9 .promo__text-7 {
  position: absolute;
  top: 0;
  padding-top: 25px;
}

.promo__list .promo-9 .promo__text-7 span {
  font-family: 'San Francisco Pro';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 20px;
  color: #FFFFFF;
  margin: 25px 69px  25px 25px;
}

.promo__list .promo-9 .promo__text-7 span svg {
  padding-right: 15px;
}

.promo__list .promo-9 .promo__text-7 h4 {
  font-family: 'San Francisco Pro';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  color: #FFFFFF;
  margin: 25px 84px  25px 25px;
}

.booking__title {
  margin-bottom: 65px;
}

.booking__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 100px;
}

.booking__filter__block {
  max-width: 230px;
}

.booking__filter__block-item {
  background: #FFFFFF;
  border: 2px solid #F5F6F7;
  min-height: 94px;
}

.booking__filter__block-item span {
  display: inline-block;
  width: 120px;
  height: 20px;
  margin: 20px 0 10px 20px;
  font-family: 'San Francisco Pro';
  font-style: normal;
  font-weight: 900;
  font-size: 12px;
  line-height: 20px;
  color: #6B7A99;
}

.booking__filter__block-item span.last {
  margin: 0 0 20px 20px;
}

.booking__filter__block-item.tour-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 10px 0px 0px 0px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'San Francisco Pro';
  font-style: normal;
  font-weight: 800;
  font-size: 14px;
  line-height: 30px;
  color: #4D5E80;
}

.booking__filter__block-item.apply {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'San Francisco Pro';
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
  line-height: 30px;
  color: #3361FF;
  cursor: pointer;
}

.booking__filter__block-item svg {
  margin: -20px 0 20px 40px;
}

.booking__filter__settings {
  max-width: 230px;
  background-color: #fff;
  border: 2px solid #F5F6F7;
  min-height: 100px;
}

.booking__filter__settings span {
  display: inline-block;
  margin: 15px 0 10px 20px;
  font-family: 'San Francisco Pro';
  font-style: normal;
  font-weight: 900;
  font-size: 12px;
  line-height: 20px;
  color: #6B7A99;
}

.booking__load-more {
  padding: 42px 0 42px;
  margin-bottom: 130px;
  text-align: center;
  background-color: #fff;
  border: 2px solid #F5F6F7;
  border-radius: 0px 0px 10px 10px;
  font-family: 'San Francisco Pro';
  font-style: normal;
  font-weight: 800;
  font-size: 13px;
  line-height: 25px;
  color: #7D8FB3;
  cursor: pointer;
}

.booking__filter__settings-value {
  display: inline-block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: 'San Francisco Pro';
  font-style: normal;
  font-weight: 900;
  font-size: 12px;
  line-height: 20px;
  color: #6B7A99;
}

.booking__filter__settings-value span {
  margin: 12px 20px 15px;
}

.reviews {
  background: url(../images/INSTA.png) center no-repeat;
  background-position: top;
  text-align: center;
}

.reviews__text {
  position: relative;
  min-width: 760px;
  min-height: 220px;
  padding-top: 30px;
  margin: 0 auto;
}

.reviews__prev {
  position: absolute;
  margin-top: 30px;
  left: 0;
  top: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}

.reviews__prev svg path {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.reviews__prev:hover svg path {
  fill: black;
}

.reviews__next {
  position: absolute;
  margin-top: 30px;
  right: 0;
  top: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}

.reviews__next svg path {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.reviews__next:hover svg path {
  fill: black;
}

.reviews__insta {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 245px 245px 245px 245px;
      grid-template-columns: 245px 245px 245px 245px;
  grid-auto-rows: 245px;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  margin-bottom: 100px;
}

.reviews__insta img {
  max-width: 245px;
  max-height: 245px;
  margin: 13px;
}

.reviews-item__insta {
  position: relative;
}

.reviews-item__insta .caption {
  position: absolute;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 100%;
  z-index: 2;
  left: 5%;
  top: 5%;
  background: rgba(0, 0, 0, 0.5);
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
  opacity: 0;
}

.reviews-item__insta .caption:hover {
  opacity: 2;
  visibility: visible;
}

.reviews-item__insta .insta {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  left: 0;
  top: 30%;
}

.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#reviews__slider {
  overflow: hidden;
}

footer {
  background-color: #0D111A;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .contacts {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 270px  210px;
      grid-template-columns: 270px  210px;
  grid-auto-rows: 70px;
  padding: 83px 125px 82px 183px;
}

footer .contacts .footer-item {
  position: relative;
}

footer .contacts .footer-item svg {
  position: absolute;
  right: 110%;
  padding-top: 5px;
}

footer .contacts .footer-item span {
  font-family: 'San Francisco Pro';
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 25px;
  color: #FFFFFF;
}

.menu ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 80px  80px  80px 80px;
      grid-template-columns: 80px  80px  80px 80px;
  grid-auto-rows: 40px;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  padding: 83px 125px 82px 183px;
}

.menu ul li {
  font-family: 'San Francisco Pro';
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 25px;
  color: #FFFFFF;
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: #E5E5E5;
}

a {
  text-decoration: none;
  color: inherit;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}
/*# sourceMappingURL=index.css.map */