@import './helpers/fonts';
@import './components/header';
@import './sections/hero';
@import './sections/services';

body{
    margin: 0;
    padding: 0;
    background-color: #E5E5E5;
}

a{
    text-decoration: none;
    color:inherit;
}

.container{
    max-width: 1110px;
    margin: 0 auto;
}

ul{
    padding: 0;
}
li{
   list-style: none;
}