@import './fonts';
@import './components/header';
@import './components/services';


body{
<<<<<<< HEAD
    margin: 10;
=======
    margin: 0;
    padding: 0;
>>>>>>> 309b6193ea33a231537b39d3a302c5733dba413b
    background-color: #E5E5E5;
}

a{
    text-decoration: none;
    color:inherit;
}

.container{
    max-width: 1080px;
    margin: 0 auto;
}

ul{
    padding: 0;
}
li{
   list-style: none;
}