@import './helpers/fonts';
@import './helpers/mixins';
@import './components/label';
@import './components/title';
@import './components/description';

@import './components/header';
@import './sections/hero';
@import './sections/services';
@import './sections/promo';
@import './sections/reviews';
@import './components/footer';

body{
    margin: 0;
    background-color: #E5E5E5;
}

a{
    text-decoration: none;
    color:inherit;
}
h1,h2,h3,h4,h5,h6{
    margin: 0;
}

.container{
    max-width: 1110px;
    margin: 0 auto;
}

ul{
    padding: 0;
}
li{
   list-style: none;
}