@font-face {
  font-family: 'San Francisco Pro';
  src: local("San Francisco Pro Display Regular"), local("San-Francisco-Pro-Display-Regular"), url("../fonts/SFProDisplay-Regular.woff2") format("woff2"), url("../fonts/SFProDisplay-Regular.woff") format("woff"), url("../fonts/SFProDisplay-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'San Francisco Pro';
  src: local("San Francisco Pro Display Semibold"), local("San-Francisco-Pro-Display-Semibold"), url("../fonts/SFProDisplay-Semibold.woff2") format("woff2"), url("../fonts/SFProDisplay-Semibold.woff") format("woff"), url("../fonts/SFProDisplay-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'San Francisco Pro';
  src: local("San Francisco Pro Display Medium"), local("San-Francisco-Pro-Display-Medium"), url("../fonts/SFProDisplay-Medium.woff2") format("woff2"), url("../fonts/SFProDisplay-Medium.woff") format("woff"), url("../fonts/SFProDisplay-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'San Francisco Pro';
  src: local("San Francisco Pro Display Bold"), local("San-Francisco-Pro-Display-Bold"), url("../fonts/SFProDisplay-Bold.woff2") format("woff2"), url("../fonts/SFProDisplay-Bold.woff") format("woff"), url("../fonts/SFProDisplay-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'San Francisco Pro';
  src: local("San Francisco Pro Display Light"), local("San-Francisco-Pro-Display-Light"), url("../fonts/SFProDisplay-Light.woff2") format("woff2"), url("../fonts/SFProDisplay-Light.woff") format("woff"), url("../fonts/SFProDisplay-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

.header {
  background: url("../../images/main-background.png") center no-repeat;
  max-width: 100%;
  min-height: 950px;
}

.header__panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 74px;
}

.header__burger-btn {
  max-width: 20px;
}

.header__burger-btn button {
  background-color: inherit;
  border: none;
}

.header__burger-btn button:hover {
  cursor: pointer;
}

.header__logo {
  font-family: 'San Francisco Pro';
  font-weight: Bold;
  color: white;
  font-size: 20px;
  max-width: 110px;
  margin-left: 41px;
}

.header__search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__search svg {
  max-width: 18px;
  margin: 0 25px 0 120px;
  opacity: 0.5;
}

.header__search svg:hover {
  cursor: pointer;
}

.header__search-text {
  font-family: 'San Francisco Pro';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  color: #FFFFFF;
  opacity: 0.5;
}

.header__search-text:hover {
  cursor: pointer;
}

.header__navigation {
  margin-left: 160px;
}

.header__navigation ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__navigation ul li {
  margin-right: 35px;
  font-family: 'San Francisco Pro';
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  color: #FFFFFF;
}

.header__get-in-touch {
  margin-left: 160px;
  font-family: 'San Francisco Pro';
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  color: #FFFFFF;
  max-width: 80px;
}

.services {
  text-align: center;
  margin: 125px;
}

.services__text {
  background: url(../../images/TRAVEL.png) center no-repeat;
  max-width: 750px;
  min-height: 220px;
  margin: 0 auto;
}

.services__badge {
  text-align: center;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 80px;
  height: 30px;
  background-color: #f1ddc9;
  border-radius: 30px;
}

.services__badge span {
  font-family: 'San Francisco Pro';
  font-style: Heavy;
  font-weight: bold;
  font-size: 12px;
  line-height: 20px;
  color: #E62E7B;
}

.services__title h2 {
  font-family: 'San Francisco Pro';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 60px;
  color: #7D8FB3;
}

.services__title h2 span {
  font-family: 'San Francisco Pro';
  font-style: bold;
  font-weight: 800;
  font-size: 36px;
  line-height: 60px;
  color: #4D5E80;
}

.services__description {
  padding: 65px 50px 0;
  font-family: 'San Francisco Pro';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 30px;
  color: #7D8FB3;
}

.services__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 70px;
}

.services__list div {
  max-width: 160px;
  min-height: 255px;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0px 2px 5px rgba(54, 61, 77, 0.05);
          box-shadow: 0px 2px 5px rgba(54, 61, 77, 0.05);
  border-radius: 10px;
}

.services__list div svg {
  margin: 50px 50px 67px;
}

.services__list div span {
  margin-bottom: 50px;
  font-family: 'San Francisco Pro';
  font-style: Heavy;
  font-weight: bold;
  font-size: 12px;
  line-height: 20px;
  color: #6B7A99;
}

body {
  margin: 0;
  padding: 0;
  background-color: #E5E5E5;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: 1080px;
  margin: 0 auto;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}
/*# sourceMappingURL=index.css.map */