.booking{    
    &__title{
        margin: 6px auto;
        max-width: 750px;
        min-height: 220px;
        background: url(../images/TRAVEL.png) center no-repeat;
        background-position:top;
        background-size: 100%;
        & h2{
            padding-top: 55px;
        }
    }
    &__description{
        display: flex;
        justify-content: center;
        margin-bottom: 100px;
    }
    &__filter__block{
        display: block;
        max-width: 190px;
        &-item{
            
            background: #FFFFFF;
            border: 2px solid #F5F6F7;
            min-height: 100px;
            & span{
                display: inline-block;
                width: 120px;
                height: 20px;
                margin: 20px 0 10px 20px;
                @include font (12px, 900, 20px);
                color: $text-greyBlue60;
            }
            & span.last{
                margin: 0 0 20px 20px;
            }
            &.tour-search{
                display: flex;
                border-radius: 10px 0px 0px 0px;
                justify-content: center;
                align-items: center;
                @include font(14px, 800, 30px);
                color: #4D5E80;
            }
            &.apply{
                display: flex;
                justify-content: center;
                align-items: center;
                @include font(14px, 900, 30px);
                color: #3361FF;
                cursor: pointer;
            }
            & svg{
                margin: -17px 10px 12px 10px;
            }
        }
    }
    &__filter__settings{
        max-width: 230px;
        background-color: #fff;
        border: 2px solid #F5F6F7;
        min-height: 120px;
        & span{
            display: inline-block;
            margin: 20px 0 22px 20px;
            @include font (12px, 900, 20px);
            color: $text-greyBlue60;
        }
    }
        
    &__load-more{
        max-width: 100%;
        padding: 42px 0 42px;
        margin-bottom: 130px;
        text-align: center;
        background-color: #fff;
        border: 2px solid #F5F6F7;
        border-radius: 0px 0px 10px 10px;
        @include font(13px, 800, 25px);
        color: $text-greyBlue70;
        cursor: pointer;
    }
}

.booking__filter__settings-value{
    display: inline-block;
    display: flex;
    justify-content: space-between;
    @include font (12px, 900, 20px);
    color: $text-greyBlue60;
    & span{
        display: inline-block;
        width: 85px;
        margin: 20px 0 0 10px;
    }
}

.booking_badge{
    margin-bottom: 20px;
}

.booking__block{
    display: flex;
    &__data{
        display: flex;
        flex-wrap: wrap;
        &-item{
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            background-color: #fff;
            border: 2px solid #F5F6F7;
            width: 456px;
            height: 195.2px;
            @include font(12px,900,20px);
            color: $text-greyBlue50;
            & h3{
                padding: 30px 0 16px 30px;
                font-size: 14px;
            }
            & div{
                margin: 6px 20px 6px 0;
                & span{
                    margin: 0 10px 0 30px;
                    font-weight: normal;
                    color: $text-greyBlue70;
                }
            }
        }
    }
}
.booking__block__data-item-img{
    position: relative;
    & .cost{
        position: absolute;
        bottom: 15%;
        left: 5%;
        @include font (14px, 900, 30px);
        color: #FFFFFF;
    }
    & img{
        max-width: 160px;
    }
}
#budget-slider,
#perDay,
#days{
    max-width: 93%;
    &:hover{
        cursor: grab;
    }
}

@media screen and(max-width:1110px) {
    .booking__block__data-item{
        max-width: calc(100vw / 2 - 118px);
    }
}

@media screen and(max-width:1025px) {
    .booking__block{
        margin-left: -15px;
        &__data-item{
            div{
                margin: 6px 5px;
            }
        }
    }
    .booking__load-more{
        max-width: 101%;
        margin-left: -15px;
    }
    .booking__block__data-item{
        .booking__block__data-item-img{
            margin-top: 20px;
            .cost{
                left: 0;
                font-weight: normal;
                font-size: 12px;
            }
        }
    }
    .booking__block__data-item-img img {
        max-width: 140px;
    }
    
}

@media screen and(max-width:769px) {
    .booking__block{
        overflow:hidden;
    }
    .booking__block__data{
        max-height: 900px;
    }
    .booking__block__data-item{
        width: 525px;
        max-width: 900px;
    }
    .booking__block__data-item-img img{
        max-width: 200px;
    }
    .booking__block__data-item{
        .booking__block__data-item-img{
            margin-top: 10px;
            .cost{
                left: 0;
                font-weight: normal;
                font-size: 16px;
            }
        }
    }
    .booking__block{
        margin-left: 10px;
    }
    .booking__load-more{
        margin-left: 10px;
    }
}
@media screen and(max-width:541px) {
    .booking__block__data-item{
        display: flex;
        flex-wrap: nowrap;
        height: 245px;
        width: 335px;
        max-width: 450px;
        h3{
            padding: 5px 0 5px 19px;
        }
        div{
            margin: 0;
        }
    }
    .booking__block{
        margin-left: -5px;
    }
    .booking__load-more{
        margin-left: -5px;
    }
    .booking__block__data-item-img img{
        max-width: 140px;
    }
    .booking__block__data-item{
        .booking__block__data-item-img{
            margin-left: 30px;
            .cost{
                left: -5%;
                font-weight: normal;
                font-size: 16px;
            }
        }
    }
}

@media screen and(max-width:426px) {
    .booking__filter__block{
        max-width: 170px;
        &-item{
            &.apply{
                min-height: 82px;
            }
            svg{
                margin: 0 0 10px;
            }
        }
    }
    .booking__block__data-item{
        display: flex;
        flex-wrap: nowrap;
        height: 245px;
        width: 335px;
        max-width: 450px;
        h3{
            padding: 5px 0 5px 19px;
        }
        div{
            margin: 0;
        }
    }
    .booking__block{
        margin-left: -5px;
    }
    .booking__load-more{
        margin-left: -5px;
    }
    .booking__block__data-item-img img{
        max-width: 140px;
    }
    .booking__block__data-item{
        .booking__block__data-item-img{
            margin-left: 30px;
            .cost{
                left: -5%;
                font-weight: normal;
                font-size: 16px;
            }
        }
    }
}

@media screen and(max-width:376px) {
    .booking__block__data-item{
        h3{
            padding: 5px 0 5px 8px;
        }
        div{
            font-size: 10px;
            span{
                margin: 0 5px 0 12px;
            }
        }
        .booking__block__data-item-img{
            margin-left: 15px;
            .cost{
                left: 1%;
            }
        }
    }
}

@media screen and(max-width:321px) {
    .booking__block__data-item{
        h3{
            margin-left: -54px;
            transform: scale(0.73);
        }
        div{
            margin-left: -48px;
            transform: scale(0.75);
        }
            .booking__block__data-item-img{
                transform: scale(0.9);
                margin-left: -15px;
                .cost{
                    left: 1%;
                    font-weight: normal;
                    font-size: 16px;
                }
            }
    }
    .booking__filter__block{
        max-width: 150px;
        &-item{
            min-height: 101.5px;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            svg{
                margin: -20px -5px 10px 3px;
            }
            span{
                margin: 20px 0 20px 2px ;
            }
            span.last{
                margin: 0px 0 0 3px;
            }
        }
    }
}