.hero{
    background: url('../images/background.png') no-repeat; 
    background-size: cover;
    background-position: center -20vh;
    height: 100vh;
    &__content{
        position: relative;
        padding-top: 235px;
        text-align: center;
        max-width: 800px;
        margin: 0 auto;
    }
    &__title{
        @include font(48px, normal, 70px);
        margin-top: 65px;   
        text-align: center;
        color: #FFFFFF;
        & span{
            font-weight: 800;
        }
    }
    &__socials{
        position: absolute;
        left: -19%;
        top: 43%;
        & ul li{
            cursor: pointer;
            margin-bottom: 37px;
        }
    }
    &__form{
        margin-top: 60px;
        & ul{
            display: flex;  
            text-align: start;
            li{
                border: 1px solid #ffffff5b;
                padding: 16px 20px;
            }
        }
        &__description{
            display: inline-block;
            width: 65px;
            @include font(12px, 600, 20px);
            color: #FFFFFF;
            opacity: 0.6;
        }
        &__data{
            display: inline-block;
            margin-top: 10px;
            max-width: 85px;
            @include font(12px, 600, 20px);
            color: #FFFFFF;
        }
        &__search{
            @include font(16px, 700, 30px);
            display: inline-block;
            margin-top: 9px;
            color: #FFFFFF;
            cursor: pointer;
        }
    }
    &__info{
        display: flex;
        margin-top: 80px;
        & span{
            display: inline-block;
            max-width: 150px;
            text-align: start;
            margin-left: 40px;
            @include font(14px, 800, 30px);
            color: #FFFFFF;
        }
        & svg{
            margin-bottom: 24px;
        }
        &-addres{
            max-width: 270px;
            margin-right: 65px;
        }
        &-time{
            max-width: 270px;
            margin-right: 86px;
        }
        &-phone{
            max-width: 270px;
        }
    }
    &__slider__items{
        &-dest{
            position: absolute;
            right: -30%;
            top: 57%;      
            transform: rotate(-90deg);
            & span{
                display: inline-block;
                max-width: 200px; 
                @include font(16px, 600, 30px);
                color: #FFFFFF; 
            }
            & svg{
                transform: rotate(90deg);
                margin-right: 28px;
            }
        }
        &-arrows{
            cursor: pointer;
            .next{
                position: absolute;
                right: -19.5%;
                top: 31%
            }
            .prev{
                position: absolute;
                right: -19.5%;
                bottom: 2%;
            }
        }
    }
}

