.services{
    margin-top: 90px;
    text-align: center;
    &__text{
        background: url('../images/TRAVEL.png') center no-repeat;
        background-position:top;
        background-size: 100%;
        text-align: center;
        max-width: 750px;
        min-height: 220px;
        margin: 6px auto 0;
        & h2{
            padding-top: 55px
        }
    }
    &__description{
        padding: 65px 50px 0;
    }
    &__list{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 70px;
        &-column{
            max-width: 160px;
            min-height: 255px;
            background-color: $text-white;
            box-shadow: 0px 2px 5px rgba(54, 61, 77, 0.05);
            border-radius: 10px;
            transition: 0.5s;
            cursor: pointer;
            svg{
              margin: 50px 50px 67px;
            }
            &:hover{
                transform: scale(1.1);
            }
            span{
                margin-bottom: 50px;
                @include font (12px, 800, 20px);
                color:$text-greyBlue60 ;
            }
        }
    }
}

@media screen and(max-width: 1281px) {
    .services{
        margin-top: -40px;
    }
}


@media screen and (max-width:1025px) {
    .services__list-column{
        max-width: 130px;
        min-height: 235px;
        svg{
            margin: 40px 30px 50px;
        }
    }
}

@media screen and (max-width: 769px) {
    .services__list{
        flex-wrap: wrap;
        &-column{
            max-width: 180px;
            min-height: 285px;
            margin: 40px 31px 0 31px;
            svg{
                margin: 50px 50px 67px;
            }
            span{
                display: inline-block;
                font-size: 16px;
            }
        }
    }
}
@media screen and(max-width: 654px) {
    .services__list{
        transform: scale(0.9);
        margin: 5% 0 5% 0;
        &-column{
        max-width: 160px;
        min-height: 240px;
        margin: 40px 10px 0 0px;
    } 
    }
   
}
@media screen and (max-width: 541px){
    .services__list{
        &-column{
            margin: 25px 50px 0 20px;
        }
    }
}
@media screen and (max-width: 426px){
    .services__list{
        &-column{
            max-width: 160px;
            min-height: 255px;
            margin: 25px 15px 0 20px;
        }
    }
}

@media screen and (max-width:376px) {
    .services__list{
        &-column{
            max-width: 145px;
            min-height: 245px;
            margin: 25px 15px 0 15px;
            svg{
                margin: 40px 40px 60px;
            }
        }
    }
}
@media screen and (max-width:360px) {
    .services__list{
        &-column{
            max-width: 145px;
            min-height: 245px;
            margin: 15px 10px 0 15px;
        }
    }
}
@media screen and (max-width:321px) {
    .services__description{
        padding: 0;
    }
    .services__list{
        &-column{
            max-width: 135px;
            min-height: 245px;
            margin: 20px 5px 0 10px;
            svg{
                margin: 40px 40px 60px;
            }
        }
    }
}
@media screen and (max-width:280px) {
    .services__list{
        margin: 0 auto;
        padding-right: 20px;
        max-width: 140px;
        min-height: 220px;
        & column{
            margin-top: 10px
        }
        span{
            @include font (10px, 800, 20px);
        }
    }
}