.footer{
    background-color: $bg-black;
    &__block{
        display: flex;
        position: relative;
        .footer-btn{
            position: absolute;
            top: 30%;
            right: 3%;
            cursor: pointer;
           
        }
        .footer-btn svg:hover path{
            fill:$text-greyBlue50;
             transition: 0.3s;
        }
        &-contacts{
            display: grid;
            grid-template-columns: 200px 200px  ;
            grid-template-rows: 25px;
            grid-column-gap: 83px;
            grid-row-gap: 25px; 
            @include font (13px, 800, 25px,);
            color: $text-white;
            opacity: 0.6; 
            margin: 52px 0 0 50px ;
        }
        .footer-item{
            position: relative;
            .footer-item__icon{
                position: absolute;
                left: -22%;
                margin-top: 5px;
            }
        }
        &-menu{
            margin: 40px 0 80px 100px;
            & ul{
            display: grid;
            grid-template-columns: 60px 60px 60px 60px ;
            grid-template-rows: 25px;
            grid-column-gap: 43px;
            grid-row-gap: 25px; 
            @include font(13px, 800, 25px);
            color: #FFFFFF;
            & li{
                cursor: pointer;
                transition: 0.3s;
            }
            & li:hover{
                color: $text-greyBlue50;
            }
            }
        }
    }
}
@media screen and (max-width:1025px) {
    .footer__block{
        transform: scale(0.9);
        .footer-btn{
            display: none;
        }

    }
}
@media screen and (max-width:769px) {
    .footer__block{
        display: inline-block;
        &-contacts{
            grid-column-gap: 80%; 
            @include font (15px, 700, 30px,);
            }
        &-menu{
        margin: 40px 0;
            & ul{
                grid-column-gap: 40%;
                grid-row-gap: 50%; 
                @include font(14px, 800, 25px); 
            }
        }
    }
}
@media screen and (max-width:717px){
    .footer__block{
        &-contacts{
            grid-column-gap: 70%; 
            @include font (15px, 700, 30px,);
            }
        &-menu{
        margin: 40px 0;
            & ul{
                grid-column-gap: 30%;
                grid-row-gap: 50%; 
                @include font(14px, 800, 25px); 
            }
        }
    }
}
@media screen and (max-width:654px){
    .footer__block{
        left: 7%;
        &-contacts{
            grid-column-gap: 30%; 
        }    
        &-menu{
                & ul{
                    grid-column-gap: 20%;
                }
            }
    }
}
@media screen and (max-width :540px) {
    .footer__block{
        left: -2.5%;
        &-contacts{
            grid-column-gap: 25%; 
        }    
        &-menu{
                & ul{
                    grid-column-gap: 20%;
                }
            }
    }
}
@media screen and (max-width :513px) {
    .footer__block{
        left: 25%;
        &-contacts{
            grid-template-columns: 200px;
        }    
        &-menu{
                & ul{
                    grid-column-gap: 40%;
                }
            }
    }
}
@media screen and (max-width:426px) {
    .footer__block{
        left: 20%;
        &-contacts{
            display: grid;
            grid-template-columns: 200px;
        }    
        &-menu{
            margin: 40px 0;
                & ul{
                    grid-template-columns: 60px 60px ;
                    grid-column-gap: 40%;
                    grid-row-gap: 15%; 
                }
            }
    }
}
@media  screen and (max-width:376px) {
    .footer__block{
        left: 10%;
    }
}
@media  screen and (max-width:280px) {
    .footer__block{
        left: 6%;
    }
}