.footer{
    background-color: #000;
    &__block{
        display: flex;
        position: relative;
        .footer-btn{
            position: absolute;
            top: 30%;
            right: 3%;
            cursor: pointer;
           
        }
        .footer-btn svg:hover path{
            fill:#4D5E80;
             transition: 0.3s;
        }
        &-contacts{
            display: grid;
            grid-template-columns: 200px 200px  ;
            grid-template-rows: 25px;
            grid-column-gap: 83px;
            grid-row-gap: 25px; 
            @include font (13px, 800, 25px,);
            color: #FFFFFF;
            opacity: 0.6; 
            margin: 93px 0 0 50px ;
        }
        .footer-item{
            position: relative;
            .footer-item__icon{
                position: absolute;
                left: -22%;
                margin-top: 5px;
            }
        }
        &-menu{
            margin: 80px 0 165px 100px;
            & ul{
            display: grid;
            grid-template-columns: 60px 60px 60px 60px ;
            grid-template-rows: 25px;
            grid-column-gap: 43px;
            grid-row-gap: 25px; 
            @include font(13px, 800, 25px);
            color: #FFFFFF;
            & li{
                cursor: pointer;
                transition: 0.3s;
            }
            & li:hover{
                color: #4D5E80;
            }
            }
        }
    }
}