.header{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    &__panel{
        display: flex;
        align-items: center;
        padding-top: 74px;
    }
    &__burger-btn{
        cursor: pointer;
        margin-top: 3px;
        span{
            position: relative;
            display: inline-block;
            width: 18px;
            height: 2px;
            border-radius: 3px;
            background-color: #FFFFFF;
            &::after,
            &::before{
                position: absolute;
                content: "";
                cursor: pointer;
                background-color: #FFFFFF;
                width: inherit;
                height: inherit;
                border-radius: 3px;
                transform: translateY(-10px);
            }
            &::before{
                transform: translateY(-5px);
            }
        }
    }
    &__logo{
        font-family: 'San Francisco Pro';
        font-weight: Bold;
        color: white;
        font-size: 20px;
        max-width: 110px;
        margin-left: 41px;
    }
    &__search{
        display: flex;
        & svg{
            max-width: 18px;
            margin: 0 30px 0 130px;
            opacity: 0.5;
            &:hover{
                cursor: pointer;
            }
        }
        &-text{
            font-family: 'San Francisco Pro';
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
            color: #FFFFFF;
            opacity: 0.5;
            &:hover{
                cursor: pointer;
            }
        }
    }
    &__navigation{
        margin-left: 200px;
        & ul{
            display: flex;
            & li{
                margin-right: 35px;
                font-family: 'San Francisco Pro';
                font-style: normal;
                font-weight: bold;
                font-size: 13px;
                color: #FFFFFF;
            }
        }
    }
    &__get-in-touch{
        margin-left: auto;
        font-family: 'San Francisco Pro';
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        color: #FFFFFF;
        max-width: 80px;
    }
}