.header{
    background: url('../../images/main-background.png') center no-repeat; 
    max-width: 100%;
    min-height: 950px;
    &__panel{
        display: flex;
        align-items: center;
        padding-top: 74px;
    }
    &__burger-btn{
        max-width: 20px;
        & button{
            background-color: inherit;
            border: none;
            &:hover{
                cursor: pointer;
            }
        }
    }
    &__logo{
        font-family: 'San Francisco Pro';
        font-weight: Bold;
        color: white;
        font-size: 20px;
        max-width: 110px;
        margin-left: 41px;
    }
    &__search{
        display: flex;
        & svg{
            max-width: 18px;
            margin: 0 25px 0 120px;
            opacity: 0.5;
            &:hover{
                cursor: pointer;
            }
        }
        &-text{
            font-family: 'San Francisco Pro';
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
            color: #FFFFFF;
            opacity: 0.5;
            &:hover{
                cursor: pointer;
            }
        }
    }
    &__navigation{
        margin-left: 160px;
        & ul{
            display: flex;
            & li{
                margin-right: 35px;
                font-family: 'San Francisco Pro';
                font-style: normal;
                font-weight: bold;
                font-size: 13px;
                color: #FFFFFF;
            }
        }
    }
    &__get-in-touch{
        margin-left: 160px;
        font-family: 'San Francisco Pro';
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        color: #FFFFFF;
        max-width: 80px;
    }
}