.label{
display: flex;
margin: 0 auto;
justify-content: center;
width: 80px;
height: 30px;
background-color:#FF6633;
border-radius: 30px;
span{
    font-family:'San Francisco Pro';
    align-self: center;
    font-weight: bold;
    font-size: 12px;
    color: #fff;
    }
}