.label{
display: flex;
margin: 0 auto;
justify-content: center;
width: 80px;
height: 30px;
background-color:#FF6633;
border-radius: 30px;
span{
    @include font(12px, 900, 20px);
    align-self: center;
    color: #fff;
    }
}
